
h1 {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
}
nav {
  background-color: black;
}
nav li {
  display: inline-block;
  padding: 10px;
  list-style-type: none;
}
nav a {
  color: white;
}

p {
  font-size: 1.3em;
}
main {
  padding: 25px;
}
.techie-list {
  margin-top: 20px;
}
.techie-list li {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #ccc;
}
.question-list{
  font-size: 2em;
  text-align: center;
}
.question-list ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.question-list li{
  margin: 15px;
  width: 300px;
}
small {
  display: none;
}
.option small{
    width: 300px;
    font-size: 0.7em;
    z-index: 1;
    position: absolute;
    background-color: rgba(20,20,20,0.8);
    padding: 7px;
    border-radius: 3px;
    color: white;
    margin: auto;

}
ul
{
    list-style-type: none;
}
.btn {
  margin: auto;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-social {
  display: inline-block;
}
